body {
    font-family: Arial, sans-serif; /* تحديد نوع الخط الافتراضي للنصوص */
    background: linear-gradient(to bottom, #6D977D, #2C563C); /* خلفية متدرجة من الأعلى للأسفل */
    display: flex; /* استخدام تقنية Flexbox لترتيب العناصر */
    justify-content: center; /* جعل العناصر في المنتصف أفقيًا */
    align-items: center; /* جعل العناصر في المنتصف عموديًا */
    height: 100vh; /* جعل ارتفاع الصفحة كامل العرض */
    margin: 0; /* إزالة الهوامش الافتراضية */
}

.container {
    background: #ffffff; /* لون الخلفية الأبيض للصندوق */
    padding: 40px 30px 30px; /* حشوة داخلية للصندوق */
    border-radius: 30px; /* حواف مستديرة للصندوق */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* إضافة ظل خفيف */
    text-align: center; /* توسيط النصوص داخل الصندوق */
    max-width: 400px; /* أقصى عرض للصندوق */
    width: 100%; /* عرض الصندوق كاملاً بالنسبة للحاوية */
    margin: 0px 250px 0px 0px; /* وضع مسافة على اليمين */
}

h2 {
    margin-top: 20px; /* إضافة مسافة علوية للعنوان */
    color: #333333; /* لون النص */
}

.info-message {
    font-family: "Karla", sans-serif; /* نوع الخط للنصوص التوضيحية */
    font-size: 21px; /* حجم الخط */
    color: #666666; /* لون النص */
    margin-bottom: 20px; /* مسافة سفلية */
}

form {
    display: flex; /* استخدام Flexbox لتنسيق العناصر داخليًا */
    flex-direction: column; /* ترتيب العناصر عموديًا */
}

label {
    font-size: 14px; /* حجم الخط للنصوص التوضيحية */
    color: #555555; /* لون النص */
    text-align: left; /* محاذاة النص إلى اليسار */
    margin-bottom: 5px; /* مسافة سفلية صغيرة */
    margin-left: 10px; /* مسافة يسارية */
}

input {
    padding: 15px 200px 15px 15px; /* حشوة داخلية لحقل الإدخال */
    border: 2px solid #cccccc; /* لون الإطار الافتراضي */
    border-radius: 15px; /* حواف مستديرة لحقل الإدخال */
    margin-bottom: 10px; /* مسافة سفلية صغيرة */
    font-size: 14px; /* حجم الخط للنص داخل الحقل */
}

input:invalid {
    border-color: rgb(0, 0, 0); /* لون الإطار عند الإدخال غير الصحيح */
}

input:valid {
    border-color: green; /* لون الإطار عند الإدخال الصحيح */
}

button {
    background-color: #84C7AE; /* لون خلفية الزر */
    color: white; /* لون النص داخل الزر */
    padding: 15px; /* حشوة داخلية للزر */
    border: none; /* إزالة الإطار */
    border-radius: 15px; /* حواف مستديرة للزر */
    cursor: pointer; /* مؤشر اليد عند تمرير الماوس */
    font-size: 14px; /* حجم النص داخل الزر */
    text-align: center; /* توسيط النص داخل الزر */
}

.button2 {
    text-align: center; /* توسيط النص داخل الزر الثاني */
    background-color: white; /* خلفية بيضاء للزر الثاني */
    color: #84C7AE; /* لون النص */
    border: 2px solid #84C7AE; /* إطار بلون أزرق مخضر */
}

.button2:hover {
    background-color: ghostwhite; /* تغيير لون الخلفية عند مرور الماوس */
}

button:hover {
    background-color: #4bb890; /* تغيير لون الخلفية عند مرور الماوس */
}

.hidden {
    display: none; /* إخفاء العنصر افتراضيًا */
    margin-top: 20px; /* مسافة علوية */
    font-size: 14px; /* حجم النص */
}

#response-message {
    color: #4bb890; /* لون النص للرسالة */
}

.card-image {
    position: relative; /* تحديد موضع الصورة بشكل نسبي */
    bottom: 230px; /* نقل الصورة للأعلى */
    left: 353px; /* إزاحة الصورة لليسار */
    width: 250px; /* عرض الصورة */
    height: 190px; /* ارتفاع الصورة */
}
