body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #6d977d, #2c563c);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: #ffffff;
  padding: 40px 30px 30px;
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
  margin: 0px 250px 0px 0px;
}

h2 {
  margin-top: 20px;
  color: #333333;
}

.info-message {
  font-family: "Karla", sans-serif;
  font-size: 21px;
  color: #666666;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  color: #555555;
  text-align: left;
  margin-bottom: 5px;
  margin-left: 10px;
}

input {
  padding: 15px 15px;
  width: 90%;
  /* padding-left: 15px; */
  /* padding-right: 200px; */
  border: 2px solid #cccccc;
  border-radius: 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

input:invalid {
  border-color: rgb(0, 0, 0);
}

input:valid {
  border-color: green;
}

button {
  background-color: #84c7ae;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
}

.button2 {
  text-align: center;
  background-color: white;
  color: #84c7ae;
  border: 2px solid #84c7ae;
}

.button2:hover {
  background-color: ghostwhite;
}

button:hover {
  background-color: #4bb890;
}

.hidden {
  display: none;
  margin-top: 20px;
  font-size: 14px;
}

#response-message {
  color: #4bb890;
}

.card-image {
  position: relative;
  bottom: 230px;
  left: 353px;
  width: 250px;
  height: 190px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    margin: 0 auto;
    padding: 30px 20px;
  }

  .card-image {
    position: static; /* إعادة الصورة لوضعها الطبيعي */
    margin: 20px auto;
    display: block;
    width: 80%;
    height: auto;
  }

  input {
    width: 100%;
  }

  button,
  .button2 {
    width: 100%;
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 18px;
  }

  .info-message {
    font-size: 16px;
  }

  label {
    font-size: 12px;
  }

  input {
    padding: 10px;
    font-size: 12px;
  }

  button,
  .button2 {
    padding: 10px;
    font-size: 12px;
  }

  .container {
    padding: 20px 10px;
  }
}
