* { 
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  background-color: #ffff;
}

/* Navigation Styles */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #6d977d;
  padding: 2px 0;
  z-index: 1000;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
}

.navbar-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo img {
  margin-top: 5px;
  margin-right: 10px;
}

.navbar-links {
  display: flex;
  list-style-type: none;
  top: 0;
  position: sticky;
  position: relative;
}

.navbar-links li {
  margin-right: -10px;
}

.navbar-links a {
  text-decoration: none;
  color: #d9dab5;
  font-size: 20px;
  padding: 5px 0;
  font-weight: 400;
  font-family: ABeeZee;
  margin-right: 35px;
}

.navbar-links a:hover {
  color: #ffff;
  transition: 0.5s;
}

/* Search Button Styles */
.search {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  transition: border-color 0.3s;
  width: 400px;
  margin-right: 100px;
}

.gamal {
  border-radius: 30px;
  background: none;
  border: none;
}

/* Top Image Section */
.top-img {
  position: relative;
  background-image: url("../../img/home_img/bac.jpg");
  background-size: 500px 500px;
  background-position: right;
  height: 543px;
  display: flex;
  justify-content: left;
  align-items: center;
  color: white;
  text-align: center;
  padding: 20px;
  background-repeat: no-repeat;
  margin-top: 100px;
  margin-bottom: 150px;
  margin-left: 80px;
  margin-right: 150px;
  max-width: 100%;
  height: auto;
}

.lifestyle {
  font-size: 30px;
  font-weight: bold;
  font-family: ABeeZee;
  text-transform: uppercase;
  color: #000000;
  margin-right: 290px;
}

.sup {
  font-size: 60px;
  font-weight: bold;
  font-family: Koulen;
  margin: 10px 0;
  color: #d9dab5;
  margin-right: 90px;
}

.sale {
  font-size: 40px;
  font-weight: bold;
  font-family: Koulen;
  margin: 10px 0;
  color: #6d977d;
  margin-right: 290px;
}

.free-shipping {
  font-size: 16px;
  font-family: ABeeZee;
  margin: 10px 0;
  color: #8b8b8b;
  margin-right: 290px;
  margin-top: 30px;
}

/* Button Styles */
.btn {
  background: none;
  border: none;
  color: #84c7ae;
  font-size: 35px;
  font-weight: bold;
  font-family: Koulen;
  line-height: 90px;
  cursor: pointer;
  margin-right: 310px;
  margin-left: 100px;
  margin-top: 20px;
  text-decoration: none;
}

#transform-btn {
  text-decoration: none;
  color: #84c7ae;
}

#profile_icon {
  position: absolute;
  right: -11px;
  top: -12px;
  scale: 45%;
}

.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* Responsive Design */
@media (max-width: 1200px) {
  .navbar-links a {
    font-size: 18px;
    margin-right: 20px;
  }

  .search {
    width: 300px;
    margin-right: 50px;
  }

  .top-img {
    height: 400px;
    padding: 15px;
  }
}

@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links {
    flex-direction: column;
    margin-top: 10px;
  }

  .navbar-links a {
    font-size: 16px;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .search {
    width: 90%;
    margin: 0 auto;
  }

  .top-img {
    height: 300px;
    margin: 50px 10px;
  }
}

@media (max-width: 480px) {
  .navbar-links a {
    font-size: 14px;
  }

  .top-img {
    height: 200px;
    margin: 20px 5px;
  }

  .search {
    width: 100%;
  }
}
